$base-theme:Bootstrap;
$skin-name:memExp;
$accent: #00305b;
$secondary: #00a8e3;
$info: #17a2b8;
$success: #28a745;
$warning: #ffc107;
$error: #ff0000;
$body-bg: #ffffff;
$body-color: #292b2c;
$component-bg: #ffffff;
$component-color: #292b2c;
$card-cap-bg: #f7f7f9;
$card-cap-color: #292b2c;
$series-a: #0275d8;
$series-b: #5bc0de;
$series-c: #5cb85c;
$series-d: #f0ad4e;
$series-e: #f35800;
$series-f: #A90F5C;
$enable-gradients:true;
